.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App */

.divApp{
 background: black;
 opacity: 0.8;
padding-bottom: 60%;
display: grid;
grid-template-columns: 35% 30% 35%;
justify-items: center
}

.divApp p{
  color: white;
}

.divApp div{
  margin-top: 4em;

}

.divApp h2{
  color: darkred;
  margin-bottom: 2em;
}


a:link {
      text-decoration: none;
}

p:hover{
      color:yellow;
}

p:active{
      color: darkred;
}

/* Info */

.divInfo{
  padding:5%;
  background: greenyellow;
  padding-bottom: 80%;
  color: darkred;
display: grid;
justify-items: center;
}

.h4Info span{
  font-size: 90%;
  color: blue;
}







